.shoplist-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoplist-text{
    padding: 0px;
    max-lines: 1;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

#shoplist-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse-order {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.small-input {
    width: 50px;
}

.striked {
    text-decoration: line-through;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}